@model List<Department>
@{
  ViewData["Title"] = "Department Record List";
}

<h1>All Department (@Model.Count)</h1>
<table class="table table-striped">
  <thead>
    <a asp-controller="Department" asp-action="Add"><button class="btn btn-sm btn-primary float-right">
        Add New
      </button></a>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Department Name</th>
      <th scope="col">Code</th>
      <th scope="col">Description</th>
      <th scope="col">Start Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @{
      int i = 1;}
    @foreach (var department in Model)
    {

      <tr scope="row">
        <td>
          @(i++)
        </td>
        <td>
          @{
            string departmentName = department.Name;
          }
          <a href="/employee/detail?id=@department.Id">@departmentName</a>
        </td>
        <td>@department.Code</td>
        <td>@department.Description</td>
        <td>@department.StartDate</td>
        <td><a href="/Department/Update?id=@department.Id" class="btn btn-sm btn-primary">Edit</a></td>
        <td>
          <a href="/Department/Delete?id=@department.Id" class="btn btn-sm btn-danger">
            Delete
          </a>
        </td>

      </tr>
      @* <div class="modal fade" id="delDepartment-@department.Id" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form asp-controller="Department" asp-action="Delete" method="POST">
              <input type="hidden" asp-for="@department" />
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger">Yes</button>
              </div>
            </form>

          </div>
        </div>
      </div> *@
    }


  </tbody>
</table>
